.operator {
    width: 80px;
    height: 30px;
    border: 1px solid black;
}

.equal {
    width: 80px;
    height: 30px;
    border: 1px solid black;
}

.reset {
    width: 80px;
    height: 30px;
    border: 1px solid black;
}


.number {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}